*{
    max-width: 1440px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;
}

.App{
    background-color: #1d1d1e;
    color: #ffffff;
}


.container {
    margin: 0 150px; 
}

@media (max-width: 1024px){
    .container{
        margin: 0 100px;
    }
}


.content{
    padding-top: 100px;
    text-align: justify
}

.heading{
    text-transform: uppercase;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 130%;
    /* identical to box height, or 49px */

    display: flex;
    align-items: center;
    letter-spacing: 0.15em;

    color: #FEFEFE;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.tag{
    margin: 10px 0px 10px 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2C2C2E;
    color: #ffffff;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
}

.title{
    font-weight: 800;
    font-size: 22.3762px;
    line-height: 130%;
    /* identical to box height, or 29px */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15em;

    color: #FEFEFE;
}

.paragraph {
    font-weight: 600;
    font-size: 19.5px;
    line-height: 30px;
    /* or 154% */

    text-align: justify;
    letter-spacing: 0.05em;
    color: #cccccc;
}

.paragraph span {
    display: block;
    margin: 10px 0;
}