.navbar{
    height: 80px;
    position: fixed;
    background-color: #1d1d1e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-content{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.name-logo{
    text-transform: uppercase;
    color: #ffffff;
    width: 225px;
    height: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 49px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3rem;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 40px;
}

.link{
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    height: 14.25px;
    color: #8A8A8A;
    letter-spacing: 0.1rem;
}

.link-active {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    height: 14.25px;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
}

